### 1. arithmetic progression, predict nth term .. 1,4,9.16,25..

In [3]:
n=int(input())
if(n<0):
    print('Error')
if(n==0):
    print(0)
else :
    print(n**2)

 5

25

### 2. Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

In [12]:
n=int(input())
table9=[]
i=1
while i < n+1:
    table9.append(9*i)
    i=i+1
print(*table9)

 5

9 18 27 36 45

### 3. Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year

In [16]:
a=int(input())
if(a%2==0):
    print("Y")
else:
    print("N")

 2020

Y

### 4. You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit. 

Note: In case of decimal values, round-off to two decimal places.

Input Description:
A number is provided in Celcius as the input of the program.

Output Description:
The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.

F = 9/5 C + 32 or F = 1.8 C + 32

In [18]:
celcius=float(input())
fahrenheit=(9/5)*celcius+32
print(round(fahrenheit, 2))

 1

33.8

### 5. You are given three numbers A, B & C. Print the largest amongst these three numbers.

Input Description:
Three numbers are provided to you on diff lines.

Output Description:
Find and print the largest among the three

In [26]:
a=int(input())
b=int(input())
c=int(input())

if(a>b and a>c):
    print(a)
elif(b>a and b>c):
    print(b)
else:
    print(c)

 5
 10
 50

50

### 6.You are provided with a number check whether its odd or even. 

Print "Odd" or "Even" for the corresponding cases.

Note: In case of a decimal, Round off to nearest integer and then find the output. Incase the input is zero, print "Zero".

Input Description:
A number is provided as the input.

Output Description:
Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

Sample Input :
2
Sample Output :
Even

In [31]:
n=float(input())
n1=round(n)
if(n1==0):
    print('Zero')
if(n1%2==0):
    print('Even')
else:
    print('Odd')

 6

Even

In [33]:
n=int(input())
for i in range(1,n+1):
    print(i)

 5

1
2
3
4
5

### You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

In [38]:
n=int(input())

if(n<1 or n>12):
    print('Error')
elif(n==1 or n==3 or n==5 or n==7 or n==8 or n==10 or n==12):
    print('31')
elif (n==4 or n==6 or n==9 or n==11):
    print('30')
elif(n==2):
    print('28')

 10

31

### Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

Input Description:
A positive integer is provided to you as an input.

Output Description:
Print the First 3 multiples of the number with single spaces between them as an le Input :

### Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

In [45]:
n=int(input())
s=0
for i in range(1,n+1):
    s=s+i
print(s)

 5

15

### You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

In [47]:
p,r,t=map(float,input().split())
si=p*t*r/100
print(round(si,2))

 1000 2 5

100.0

### You are provided with two numbers. Find and print the smaller number.

Input Description:
You are provided with two numbers as input.

Output Description:
Print the small number out of the two numbers.

In [50]:
a,b=map(int,input().split())
if(a<b):
    print(a)
else:
    print(b)

 1 23

1

In [52]:
a,n=map(int,input().split())
i=0
for i in range(i,n):
    print(a)

 2 3

2
2
2

### Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

In [62]:
def hcf(a,b):
    if(b%a==0):
        print(a)
    else:
        i=a//2
        while i>=1:
            if(a%i==0 and b%i==0):
                print(i)
                break
            else:
                i=i-1
    
a,b=map(int,input().split())
if(a==b):
    print(a)
elif(a<b):
    hcf(a,b)
else:
    hcf(b,a)

 56 64

8

### Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

In [3]:
n=int(input())
i=n
while i>0:
    print(i)
    i=i-1

 5

5
4
3
2
1

### Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

In [10]:
n=int(input())
i=2
while (i<n+1):
    print(i)
    i=i+2

 5

2
4